// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap");

/// Regular font family
/// @type List
$text-font-stack: "IBM Plex Sans", "Helvetica Neue Light", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif !default;
$title-font-stack: "IBM Plex Serif", serif !default;

$shadow-blur: 6px;
$padding-desktop: 20px;

/// @type Color
$black: #222 !default;
$white: #fff !default;
$gray: rgba(109, 102, 102, 0.685) !default;
$light-bg-gray: #fbfbfb;
$medium-bg-gray: #ddd;
$linkColor: rgba(247, 148, 0, 0.712);
$intro-color: $black;
$info_mark_blue: rgb(54, 84, 252);
$link_underline: rgb(30, 54, 185);
$link_underline_visited: rgb(66, 84, 190);
$collapse_box_closed: rgb(122, 148, 204);
$collapse_box_open: rgba(122, 148, 204, 0.5);

$first: #ff8546;
$second: #02735e;
$third: #707070;

$active: #0071bc;
$passive: #f7931e;

$positive: #4daf4a;
$negative: #e41a1c;

$no-esg: #707070;
$env: #4daf4a;
$soc: #ff8546;
// $gg: #3f6089;
$gg: #85a6ce;
$profit: #ecce76;

$no-esg-dark: darken($no-esg, 20%);
$env-dark: darken($env, 20%);
$soc-dark: darken($soc, 30%);
$gg-dark: darken($gg, 30%);
$profit-dark: darken($profit, 20%);

$no-esg-no: rgba(112, 112, 112, 0.33);
$env-no: rgba(77, 175, 74, 0.32);
$soc-no: rgba(255, 133, 70, 0.3);
$gg-no: rgba(63, 96, 137, 0.25);
$profit-no: rgba(245, 203, 79, 0.42);

$drawer-height: 70px;

// TODO map these variables to classes: fill, stroke, color, background and combos

.first-color {
  color: $first;
}
.second-color {
  color: $second;
}
// Check breakpoints @ mixins.scss
// /// Breakpoints map
// /// @prop {String} keys - Keys are identifiers mapped to a given length
// /// @prop {Map} values - Values are actual breakpoints expressed in pixels
// $breakpoints: (
//   "small": 320px,
//   "medium": 768px,
//   "large": 1024px
// ) !default;

$base-url: "/assets/" !default;
