// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,600&display=swap");

/// Regular font family
/// @type List
$text-font-stack: "IBM Plex Sans", "Helvetica Neue Light", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif !default;

// /// Code (monospace) font family
// /// @type List
// $code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// @type Color
$black: #222 !default;
$white: #fff !default;
$gray: gray;
$intro-color: $black;

$first: #ff8546;
$second: #02735e;
$third: #707070;

$active: #0071bc;
$passive: #f7931e;

$positive: #4daf4a;
$negative: #e41a1c;

$no-esg: #707070;
$env: #4daf4a;
$soc: #ff8546;
$gg: #3f6089;
$profit: #ecce76;

$no-esg-dark: darken($no-esg, 20%);
$env-dark: darken($env, 20%);
$soc-dark: darken($soc, 20%);
$gg-dark: darken($gg, 20%);
$profit-dark: darken($profit, 20%);

$no-esg-no: rgba(112, 112, 112, 0.33);
$env-no: rgba(77, 175, 74, 0.32);
$soc-no: rgba(255, 133, 70, 0.3);
$gg-no: rgba(63, 96, 137, 0.25);
$profit-no: rgba(236, 206, 118, 0.42);

$drawer-height: 70px;

// TODO map these variables to classes: fill, stroke, color, background and combos

.first-color {
  color: $first;
}
.second-color {
  color: $second;
}
// Check breakpoints @ mixins.scss
// /// Breakpoints map
// /// @prop {String} keys - Keys are identifiers mapped to a given length
// /// @prop {Map} values - Values are actual breakpoints expressed in pixels
// $breakpoints: (
//   "small": 320px,
//   "medium": 768px,
//   "large": 1024px
// ) !default;

$base-url: "/assets/" !default;
