// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,600&display=swap");
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap');

/// Regular font family
/// @type List
$text-font-stack: "IBM Plex Sans", "Helvetica Neue Light", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif !default;
$title-font-stack: 'IBM Plex Serif', serif !default;

// /// Code (monospace) font family
// /// @type List
// $code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// @type Color
$black: #222 !default;
$white:  #fff !default ;
$gray: rgba(109, 102, 102, 0.685) !default;
$linkColor:  rgba(163, 150, 150, 0.342);
$intro-color: $black;
$link_underline:  rgb(241, 81, 7);

$first: #ff8546;
$second: #02735e;
$third: #707070;

$active: #0071bc;
$passive: #f7931e;

$positive: #4daf4a;
$negative: #e41a1c;

$no-esg: #707070;
$env: #4daf4a;
$soc: #ff8546;
$gg: #3f6089;
$profit: #ecce76;

$drawer-height: 70px;


  
// TODO map these variables to classes: fill, stroke, color, background and combos

.first-color {
  color: $first;
}
.second-color {
  color: $second;
}
// Check breakpoints @ mixins.scss
// /// Breakpoints map
// /// @prop {String} keys - Keys are identifiers mapped to a given length
// /// @prop {Map} values - Values are actual breakpoints expressed in pixels
// $breakpoints: (
//   "small": 320px,
//   "medium": 768px,
//   "large": 1024px
// ) !default;

$base-url: "/assets/" !default;
