// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
button {
  transition: all 130ms ease-in-out;

  cursor: pointer;
  outline: none;
  text-decoration: none;

  padding: 0.5rem 0.5rem;

  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;

  border: 1px solid $first;
  background: $white;
  color: $first;

  &:hover {
    background: $first;
    color: $white;
    & rect,
    & path {
      fill: $white;
    }
  }
}

.play-btns {
  & rect,
  & path {
    fill: $first;
  }
}
