// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
button {
  transition: background 150ms ease-in-out;
  border: 0;
  outline: none;
  background: rgb(100, 100, 100);
  color: white;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  &:hover {
    background: rgb(0, 0, 0);
  }
}