#graph-control-drawer {
  font-size: 0.87em;
  margin: 0;
  position: relative;
  z-index: 99;
  // background: pink;
  box-shadow: 0px -2px $shadow-blur 0px rgba(0, 0, 0, 0.1);
  display: flex;
  height: 66px;

  & .col {
    flex-grow: 1;
    width: 33%;
    display: flex;
    align-items: center;
    // height: 100px;
  }
  & .left {
    padding-left: 30px;
    justify-content: flex-start;
  }
  & .center {
    justify-content: center;
  }
  & .right {
    justify-content: flex-end;
    padding-right: 30px;
  }

  & button {
    font-size: 1em;
    background: none;
    border: none;
    color: $black;
    &:hover {
      color: $first;
      transform: scale(1.04);
    }
  }

  input {
    border: none;
    outline: none;
    background: transparent;
    border: 1px solid transparent;
    width: 2.8em;
    font-size: 2.5em;
    font-weight: 900;
    padding: 5px;
    padding-bottom: 2px;

    &:focus {
      border-bottom: 1px dashed $gray;
    }
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .fa-adjust {
    position: relative;
    top: 0.15em;
    font-size: 1.4em;
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: all 350ms;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: scale(0);
  }
}
