//──── Feedbacks ─────────────────────────────────────────────────────────────────────────
// https://tympanus.net/codrops/2015/02/11/subtle-click-feedback-effects/
.feedback {
  position: relative;
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  transition: color 0.7s;
}

.feedback.feedback--click,
.feedback:focus {
  outline: none;
  color: $first;
}

.feedback::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: (-$feedback-size/2) 0 0 (-$feedback-size/2);
  width: $feedback-size;
  height: $feedback-size;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  &.small {
    margin: (-$feedback-size-small/2) 0 0 (-$feedback-size-small/2);
    width: $feedback-size-small;
    height: $feedback-size-small;
  }
}

/* Effect Boris */

.feedback--effect-boris::after {
  background: $first-light;
}

.feedback--effect-boris.feedback--click::after {
  animation: anim-effect-boris 0.3s forwards;
}

@keyframes anim-effect-boris {
  0% {
    transform: scale3d(0.3, 0.3, 1);
  }
  25%,
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale3d(1.2, 1.2, 1);
  }
}

/* Ivana */
.feedback--effect-ivana::before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: (-$feedback-size/2) 0 0 (-$feedback-size/2);
  width: $feedback-size;
  height: $feedback-size;
  border-radius: 50%;
  content: "";
  opacity: 0;
  pointer-events: none;
  &.small {
    margin: (-$feedback-size-small/2) 0 0 (-$feedback-size-small/2);
    width: $feedback-size-small;
    height: $feedback-size-small;
  }
}

.feedback--effect-ivana::before,
.feedback--effect-ivana::after {
  box-shadow: 0 0 0 2px $first-light;
}

.feedback--effect-ivana.feedback--click::before {
  -webkit-animation: anim-effect-ivana-1 0.5s forwards;
  animation: anim-effect-ivana-1 0.5s forwards;
}

.feedback--effect-ivana.feedback--click::after {
  -webkit-animation: anim-effect-ivana-2 0.5s forwards;
  animation: anim-effect-ivana-2 0.5s forwards;
}

@-webkit-keyframes anim-effect-ivana-1 {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes anim-effect-ivana-1 {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
}

@-webkit-keyframes anim-effect-ivana-2 {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
  }
  50%,
  100% {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
  }
}

@keyframes anim-effect-ivana-2 {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
  }
  50%,
  100% {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
  }
}

//──── Animation in progress ─────────────────────────────────────────────────────────────
.scrolly-indicator-mover {
  transition: all 250ms ease-in-out;
  position: fixed;
  display: inline-block;
  top: 35vh;
  left: 0;
  transform: translateX(-$padding-desktop);
  font-size: 0.8em;
  color: $gray;
  &.active {
    transform: translateX($padding-desktop);
  }
}

.scrolly-step-indicator {
  color: $gray;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotating 1200ms linear infinite;
}

.margin-scrollama-text.loading {
  & .scrolly-step-indicator {
    color: $first;
    animation: rotating 1200ms linear infinite;
  }
  border-color: $first;
}

.scroll-popover-modal {
  transition: all 300ms ease-out;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  @include background-opacity($white, 0.95);
}
.scroll-popover-container {
  padding: 20px;
  // border: 1px solid $first;
  width: 70%;
}
.scroll-popover-icon {
  color: $first;
  font-size: 2em;
  margin-bottom: 0.3em;
}
.scroll-popover-message {
  color: $gray;
  font-size: 0.8em;
}

//──── Drawing on top of the group & controls ────────────────────────────────────────────
.drawing-canvas {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  // background: red;
}

//──── Grouping the force graphs ─────────────────────────────────────────────────────────
#scrolly-telling-1-container {
  display: flex;
}
.graph-and-controls-container {
  overflow-x: hidden;
  position: sticky;
  top: 2.5vh;
  height: 94vh;
  width: 77%;
}

.scrolly-telling-text {
  position: relative;
  width: 24%;
}

.manager-group {
  display: flex;
  justify-content: space-between;
  margin: 0;
  // height: 100%;
  height: calc(100% - 66px);
}
.manager-container {
  width: 33%;
  height: 100%;
}
.manager-headline {
  margin: 0;
  height: 40px;
  text-align: center;
}

//──── Force graph per manager ───────────────────────────────────────────────────────────
.node-circle-mover {
  transition: transform 900ms ease-in-out;
}

.node-circle {
  transition: all 200ms ease-in-out;
  border-color: transparent;
  stroke-width: 0px;
  stroke-opacity: 0;
  &:hover {
    transform: scale(1.45);
    stroke-width: 2px !important;
    stroke-opacity: 1 !important;
  }
  &.distinct-stroke {
    stroke-width: 1.5;
  }
  &.distinct-stroke-opacity {
    stroke-opacity: 1;
  }
}

.svg-container {
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
  height: calc(100% - 40px);
}
.svg-element {
  position: relative;
  z-index: 9;
  margin: 0 !important;
  padding: 0 !important;
}

.svg-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  background: $light-bg-gray;
}

.no-esg {
  fill: $no-esg;
  stroke: $no-esg-dark;
}
.env {
  fill: $env;
  stroke: $env-dark;
}
.soc {
  fill: $soc;
  stroke: $soc-dark;
}
.gg {
  fill: $gg;
  stroke: $gg-dark;
}
.profit {
  fill: $profit;
  stroke: $profit-dark;
}
.exit {
  opacity: 0.03 !important;
}
.mean-activist-no {
  &.env {
    fill: $env-no;
  }
  &.soc {
    fill: $soc-no;
  }
  &.gg {
    fill: $gg-no;
  }
  &.profit {
    fill: $profit-no;
  }
}
