//──── Animation in progress ─────────────────────────────────────────────────────────────
.scroll-popover-modal {
  transition: opacity 300ms ease-out;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  @include background-opacity($white, 0.95);
}
.scroll-popover-container {
  padding: 20px;
  // border: 1px solid $first;
  width: 70%;
}
.scroll-popover-icon {
  color: $first;
  font-size: 2em;
  margin-bottom: 0.3em;
}
.scroll-popover-message {
  color: $gray;
  font-size: 0.8em;
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotating 1200ms linear infinite;
}

//──── Drawing on top of the group & controls ────────────────────────────────────────────
.drawing-canvas {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  // background: red;
}

//──── Grouping the force graphs ─────────────────────────────────────────────────────────
#scrolly-telling-1-container {
  display: flex;
}
.graph-and-controls-container {
  overflow-x: hidden;
  position: sticky;
  top: 2.5vh;
  height: 94vh;
  width: 77%;
}
.scrolly-telling-text {
  position: relative;
  width: 23%;
}
.manager-group {
  display: flex;
  justify-content: space-between;
  margin: 0;
  // height: 100%;
  height: calc(100% - 66px);
}
.manager-container {
  width: 33%;
  height: 100%;
}
.manager-headline {
  margin: 0;
  height: 40px;
  text-align: center;
}

//──── Force graph per manager ───────────────────────────────────────────────────────────
.node-circle-mover {
  transition: transform 900ms ease-in-out;
}

.node-circle {
  transition: all 200ms ease-in-out;
  border-color: transparent;
  stroke-width: 0px;
  &:hover {
    // border-width: 2px;
    // border-style: solid;
    transform: scale(1.4);
    stroke-width: 2px;
  }
}

.svg-container {
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
  height: calc(100% - 40px);
}
.svg-element {
  position: relative;
  z-index: 9;
  margin: 0 !important;
  padding: 0 !important;
}

.svg-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  background: $light-bg-gray;
}

.no-esg {
  fill: $no-esg;
  stroke: $no-esg-dark;
}
.env {
  fill: $env;
  stroke: $env-dark;
}
.soc {
  fill: $soc;
  stroke: $soc-dark;
}
.gg {
  fill: $gg;
  stroke: $gg-dark;
}
.profit {
  fill: $profit;
  stroke: $profit-dark;
}
.exit {
  opacity: 0.03 !important;
}
.mean-activist-no {
  &.env {
    fill: $env-no;
  }
  &.soc {
    fill: $soc-no;
  }
  &.gg {
    fill: $gg-no;
  }
  &.profit {
    fill: $profit-no;
  }
}
